:root {
  --primary-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --white-bgr: #ffffff;
  --dark-bgr: #2e2f42;
  --lightgrey-bgr: #f4f4fd;
  --text-font-color: #434455;
  --white-color: #ffffff;
  --textlight-color: #f4f4fd;
  --focus-color: #404bbf;
  --text-dark-color: #2e2f42;
  --logo-color: #4d5ae5;
  --cornflower: #E7E9FC;
}
/**
  |============================
  | Comon stayles
  |============================
*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-bgr);
  color: var(--text-font-color);
  display: block;
  margin: 0,auto;
  padding: 0,15px;
}
/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
.list,
ul,
ol {
  list-style: none;
}
img{
  display: block;
  min-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
}
/**
  |============================
  | Base stayles
  |============================
*/
section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.conteiner {
  min-width: 1158;
  margin:0 auto;
  padding:0,15px;
}
/**
  |============================
  | Header stayles
  |============================
*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--cornflower);
  background:var(--white-bgr);
}
.header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  padding-right: 76px;
}
.header-logo-black {
  font-style: normal;
  text-transform: uppercase;
  color: var(--text-dark-color);
}
.header-list {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding-left: 0;
  padding-right: 332px;
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-dark-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--focus-color);
  text-decoration: underline;
}
.header-contacts {
  font-style: normal;
}
.header-contacts-list {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding-left: 0;
}
.header-contacts-item {
}
.header-contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-font-color);
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--focus-color);
  text-decoration: underline;
}

/**
  |============================
  | Main stayles
  |============================
*/
.main {
}
.hero {
  margin: 0, auto;
  background-color: var(--dark-bgr);
}
.hero-conteiner{
  display: block;
  justify-content: center;

}
.hero-title {
  display: block;
  flex-direction: column;
  min-width: 496px;
  padding-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--logo-color);
  display: inline-block;
  padding: 16px, 32px;
  margin-bottom: ;

  
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--focus-color);
}
.feature {
}
.feature-title {
  color: var(--text-dark-color);
}
.feature-list {
}
.feature-item {
}
.feature-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-dark-color);
}
.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-font-color);
}
.works {
}
.works-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-dark-color);
}
.works-list {
}
.works-item {
}
.works-img {
}
.team {
  background-color: var(--lightgrey-bgr);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-dark-color);
  background-color: var(--white-bgr);
}
.team-list {
}
.team-item {
  background-color: var(--white-bgr);
}
.team-icon {
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-dark-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-font-color);
}
/**
  |============================
  | Portfolio stayles
  |============================
*/
.portfolio-main {
}
.portfolio-section {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
 white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.portfolio-list-btn {
}
.portfolio-item-btn {
}
.portfolio-btn {
  background-color: var(--lightgrey-bgr);
  color: var(--logo-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--focus-color);
  color: var(--white-color);
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-link {
}
.portfolio-icon {
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-dark-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-font-color);
}
/**
  |============================
  | Footer stayles
  |============================
*/
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark-bgr);
  text-decoration: none;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}
.footer-logo-white {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--textlight-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--textlight-color);
}
